<h1> <%= @quiz.name %> </h1>
<p> <%= link_to @quiz.quiz_url, @quiz.quiz_url %> </p>
<%= form_tag "/usergroups", method: "post" do %>
    <%= hidden_field_tag 'usergroup[user_id]', current_user.id %>
    <br> Result: <%= collection_select :usergroup, :group_id, @quiz.groups, :id,  :name %>
    <%= submit_tag 'Join Group' %> </br>
<% end %>

