<h1> <%= @group.name %> </h1>
<ul>
    <li> Bio: <%= @group.bio %> </li>
    <li> Discord: <%= @group.discord_url %> </li>
    <li> Facebook: <%= @group.facebook_group_url %> </li>
    <li> Users:
        <ul>
            <% @group.users.each do |u| %>
                <%= link_to u.username, user_path(u) %>
            <% end %>
        </ul>
    </li>
</ul>

<h3>Join Group</h3>

<%= form_for @group.usergroups.build do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :group_id %>
  <%= f.submit "Join Group" %>
<% end %>